
ul{
	list-style: none;
	margin: 0;
	padding: 10px,5px;
	background-color: pink;
	width: 550px;
	height: 30px;
	overflow: hidden;

}
li a{
	text-decoration: none;
	color: orange;
	display: block;
}
ul li{
	line-height: 30px;
	width: 40px;
	/*水平排列*/
	float: left;
	text-align: center;

}
li a:hover{
	background-color: red;
}
li a:active{
	background-color: blue;
}
.so{
	position: absolute;
	top:12px;
	left: 350px;
}